<mat-card>
    <h1>Sign Up</h1>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
            <input 
                matInput placeholder="Email"
                [(ngModel)] = "email"
                name = "email"
                type = "email"
                required> 
        </mat-form-field>
        <br>
        
        <mat-form-field>
                <input 
                    matInput placeholder="Password"
                    [(ngModel)] = "password"
                    name = "password"
                    type = "password"
                    required> 
                     
        </mat-form-field >     
        <h5>Password must be at least 6 characters</h5>            
        <div >
            <button mat-raised-button color="primary" 
                    [disabled]="!signupForm.form.valid">
                     Sign Up
            </button>
        </div>
      </div>
    </form>
    </mat-card>