<mat-card>
    <h1>Login</h1>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
            <input 
                matInput placeholder="Email"
                [(ngModel)] = "email"
                name = "email"
                required>
        </mat-form-field> <br>
        <mat-form-field>
            <input 
                matInput placeholder="Password"
                [(ngModel)] = "password"
                name = "password"
                type = "password"
                required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>         
        </mat-form-field>  
                
        <div >
            <button mat-raised-button color="primary" 
                    [disabled]="!signupForm.form.valid">
                     Login
            </button>
        </div>
      </div>
    </form>
    </mat-card>